*{
  font-family: courier;
}

h1 {
  color: gray;
  font-size: 23px;
  margin-left: 25px;
}
hr{
  width: 60px;
  height: 5px;
  background-color: #000;
  margin-left: 28px;
}
section {
  outline: 1px solid red;
  position: relative;
   width: 600px;
   height:170px;
   margin-top: 3px;
   margin-left: 25px;

}
img:active{
  animation-duration: 4s;
}

img:hover {
  opacity: 0.8;

}
figure {
  float: left;
  margin-left: 10px;
  margin-right: 18px;
  position: relative;
  margin-bottom: 2px;
}
figcaption {
  font-weight: 200px;
font-size: 12px;
  position: absolute;
right:3%;
bottom: 10%;
color: #fff;
}
 /*::-webkit-scrollbar{
    height: 0px;
 }*/
